{
  "check-coverage": true,
  "extension": [
    ".js"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "test"
  ],
  "statements": 80,
  "branches": 60,
  "functions": 89,
  "lines": 80,
  "reporter": [
    "lcov",
    "html",
    "text",
    "text-summary"
  ]
}